<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>billRecord</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/common.css">
</head>
<body>
<div class="app" style="height: 100%;">
    <el-container style="height: 100%;">
        <el-header>

            <!-- 搜索订单 -->
            <el-input v-model="input"
                      placeholder="查询记录"
                      style="width: 250px"
                      @keyup.enter.native="getRecord">
                <i slot="suffix"
                   class="el-input__icon el-icon-search"
                   style="cursor: pointer"
                   @click="getRecord"></i>
            </el-input>

        </el-header>
        <el-main>
            <!--
			表格(数据库用)
			Long id; 订单记录id
			String orderId; 订单id
			String actionType; 操作类型：0为创建订单，1为下单完成，2为发货完成，3为订单完成
			Long bookId;
			Long bookNum;
			Double totalPrice;
			Date updateTime; 更新时间（同创建时间）
			Date createTime; 创建时间
			-->
            <el-table :data="tableData"
                      stripe
                      height="100%">
                <el-table-column prop="billId" label="订单号"></el-table-column>
                <el-table-column prop="bookId" label="书名">
                    <template slot-scope="scope">
                        {{ findBookName(scope.row.bookId) }}
                    </template>
                </el-table-column>
                <el-table-column prop="actionType" label="修改类型">
                    <template slot-scope="scope">
                        <el-tag v-if="scope.row.actionType === 0" type="info">未下单</el-tag>
                        <el-tag v-else-if="scope.row.actionType === 1" type="warning">已下单</el-tag>
                        <el-tag v-else-if="scope.row.actionType === 2">已发货</el-tag>
                        <el-tag v-else-if="scope.row.actionType === 3" type="success">已完成</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="bookNum" label="售出数量"></el-table-column>
                <el-table-column prop="totalPrice" label="交易额"></el-table-column>
            </el-table>

        </el-main>
        <el-footer>
            <el-pagination
                    :current-page="this.page"
                    :page-size="20"
                    :pager-count="11"
                    layout="prev, pager, next"
                    :total="this.total"
                    :background="true"
                    @current-change="pageChange">
            </el-pagination>
        </el-footer>
    </el-container>
</div>

<!--  导入vue.js  -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!--  导入elementUi  -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--  导入axios  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--  通用js  -->
<script src="../../js/common.js"></script>
<!--  axios配置  -->
<script src="../../js/request.js"></script>

<script>
    new Vue({

        el: '.app',

        data() {
            return {
                page: 1,
                total: 0,
                month: '',
                input: '',
                inputWidth: '25%',
                /*
					表格(数据库用)
                    Long id; 订单记录id
                    String billId; 订单id
                    String actionType; 操作类型：0为创建订单，1为下单完成，2为发货完成，3为订单完成
                    Date updateTime; 更新时间（同创建时间）
                    Date createTime; 创建时间
				*/
                tableData: [],
                /*tableData: [{
                    id: '1618521775229566977',
                    billId: '1617769096911986690',
                    bookId: '1',
                    actionType: 0,
                    updateTime: '2023-01-23 19:35:11',
                    createTime: '2023-01-23 19:35:11',
                },{
                    id: '1618521775229566977',
                    billId: '1617769096911986690',
                    actionType: 1,
                    updateTime: '2023-01-23 19:35:11',
                    createTime: '2023-01-23 19:35:11',
                },{
                    id: '1618521775229566977',
                    billId: '1617769096911986690',
                    actionType: 2,
                    updateTime: '2023-01-23 19:35:11',
                    createTime: '2023-01-23 19:35:11',
                },{
                    id: '1618521775229566977',
                    billId: '1617769096911986690',
                    actionType: 3,
                    updateTime: '2023-01-23 19:35:11',
                    createTime: '2023-01-23 19:35:11',
                }],*/
                bookList: [],
            }
        },

        created() {
            this.getRecord();
            this.findBookName();
        },

        methods: {

            getBook() {
                let url = 'book/all';
                submitGet('get', url).then(res => {
                    if(res.data.code) {
                        this.bookList = res.data.data;
                    } else {
                        this.$message.error('请求出错了:' + res.msg);
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err);
                })
            },

            getRecord() {
                this.getBook();
                const url = 'record/bill';
                const params = {
                    page: this.page,
                    input: this.input ? this.input : undefined,
                };
                submitGet('get', url, params).then(res => {
                    if(res.data.code === 1) {
                        this.tableData = res.data.data.records;
                        this.total = parseInt(res.data.data.total);
                    } else {
                        this.$message.error('请求出错了:' + res.data.msg);
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err);
                })
            },

            findBookName(bookId) {
                let book = this.bookList.find(book => book.id === bookId);
                if(book) {
                    return book.bookName;
                } else {
                    return '图书不存在';
                }
            },

            pageChange(val) {
                this.page = val;
                this.getRecord();
            },

        },
    })
</script>

</body>
</html>